version: '3'

services:

  mysql:
    image: mysql:8.0
    container_name: mysql-shop
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: tienda
      MYSQL_USER: user
      MYSQL_PASSWORD: pass
    volumes:
#      - ./data/mysql:/var/lib/mysql
      - ./environment/mysql-entrypoint:/docker-entrypoint-initdb.d
    ports:
      - 3306:3306

  webserver:
    container_name: webserver
    build:
      context: ./
    command: bash -c "/usr/local/bin/composer install"
    environment:
      XDEBUG_CONFIG: remote_host=host.docker.internal
      PHP_IDE_CONFIG: serverName=PHPServer
    volumes:
      - .:/var/www/html
    ports:
      - 80:80

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: dev_pma
    links:
      - mysql
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      PMA_ARBITRARY: 1
    restart: always
    ports:
      - 8183:80
